.x-border-layout-ct{
  /*background-color: #FFF;*/
}

.topbar{
  /*backgroud-color:#99bbe8;*/
  line-height : 50px;
  padding-left:20px;
  font-size:22px;
  color:#000000;
  font-family:'黑体';
  font-weight:bolder;
  /*linear*/
  background: #c2d5f1; /* Old browsers */
  background: -moz-linear-gradient(top, #c2d5f1 0%, #99bbe8 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2d5f1), color-stop(99%,#99bbe8)); /* Chrome,Safari4+ */
}


/*icon*/
.icon-user{}
.icon-logout{}
.icon-tree{}